.card {
    display: flex;
    column-gap: 24px;
    margin-bottom: 8px;
    color: #FFFFFF;
    &__img {
        img {
            width: 144px;
            height: 104px;
            object-fit: cover;
        }
    }
    &__description {
        padding-top: 6px;
        padding-bottom: 6px;
        p {
            margin-bottom: 12px;
            font-size: 12px;
            font-weight: 700;
        }
    }
    @media (max-width: 481px) {
        &__description {
            p {
                font-size: 10px;
            }
            h4 {
                font-size: 12px;
            }
        }
    }
}