#home {
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #109BE9;
}

.home {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 20px;
    &_left {
        max-width: 600px;
        color: #FFFFFF;
        p {
            margin-bottom: 24px;
        }
        h1 {
            font-size: 62px;
            margin-bottom: 62px;
        }
    }
    &_news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 12px;
    }
}

.home_popularlist_table {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(16px);
    h3 {
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }
}

#latest_post {
    padding-top: 120px;
    @media (max-width: 564px) {
        padding-top: 80px;
    }
}

.latest_post_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 65px;
    h1 {
        font-size: 31px;
    }
    button {
        padding: 16px 24px;
        color: #FFFFFF;
        border-radius: 8px;
        background-color: #F36326;
    }
    @media (max-width: 600px) {
        h1 {
            font-size: 24px;
        }
        button {
            padding: 10px 20px;
        }
        margin-bottom: 48px;
    }
}

.latest_post_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 24px;
    @media (max-width: 1360px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 536px) {
        grid-template-columns: 1fr;
    }
}

#recommend_post {
    padding-top: 120px;
    h1 {
        font-size: 31px;
        margin-bottom: 56px;
    }
    @media (max-width: 564px) {
        padding-top: 80px;
    }
}


@media (max-width: 1000px) {
    .home {
        grid-template-columns: 1fr;
        row-gap: 50px;
        &_left {
            max-width: 100%;
        }
    }
}

@media (max-width: 730px) {
    #home {
        padding-top: 160px;
    }
    .home {
        &_left {
            h1 {
                font-size: 36px;
                margin-bottom: 32px;
            }
        }
        &_news {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 481px) {
    .home {
        &_left {
            p {
                font-size: 12px;
            }
            h1 {
                font-size: 24px;
            }
        }
    }

    #recommend_post {
        h1 {
            font-size: 24px;
            margin-bottom: 48px;
        }
    }
}